@{
    ViewData["Title"] = "Home Page";
}

<li class="nav-item">
    <a class="nav-link text-dark" asp-area="" asp-controller="Login" asp-action="Entrar">Entrar</a>
</li>
<div class="text-center">
    <h1 class="display-4">Criação de um formulário de pesquisa</h1>
    <p>Nesta aula vamos criar um formulário de pesquisa</p>
    <a href="/Pessoas/Index">Lista de Pessoas</a>
    <a href="/Login/Entrar">login</a>
</div>

